<html>

<head>
    <title><%= error.status %> <%= message %></title>
</head>

<body>
    <center>
        <h1><%= error.status %> <%= message %></h1>
    </center>
    <hr>
    <center>Express</center>

</body>

</html>